
/* HEADER  */
header {
    display: grid;
    
    align-items: center;
	padding: .5rem 2vw;
	
        font-size: 3rem;
        font-weight: bold;
        padding-left: 1rem;
        color: rgb(238, 40, 228);
        justify-content: center;    
} 