/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper {grid-row-start: 1;}
header {
    display: grid;
    grid-template-columns: 51px auto 44px;
    padding: .5rem 2vw;
    background-color: rgb(248, 245, 245);
    align-items: center;    
    h1 {
        
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: 4rem;
        color: $primaryColor;
    }
    div#phone {display:none;}
}// end header

figure.logo {
    width: 100px;
    margin: 0 0 0 $gutter;
    float: left;
    margin: 0;    
  }
  figure.logo img {
    width: 100px;
    margin-bottom: 10%;

  }
/*----------- NAVIGATION --------------*/
div#navWrapper {grid-row-start: 4;}

div#hamburger a, div#closex a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: right;
}//end nav buttons

div#closex a {margin-right: 2vw;}
nav {
    height:110vh;
    
}
nav ul {
    border-bottom: 1px solid #eee;
}
nav ul li {list-style: none;   }
nav ul li a {
    display: block;
    color: #333;
    border-left: 1px solid #777;
    padding: .9rem 2vw;
    text-decoration: none;
    font-size: .9rem;
    text-align: right;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
div#mainWrapper {grid-row-start: 2;}
main {
    padding: 0;
    min-height: 10rem;
}


/*-----------COLUMNS--------------*/
div.flexed {display:flex; flex-wrap: wrap;}
    //end parent
.column {padding:0;}
@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}//end loop

.jumbotron {
    background-color: red;
    color: white;
    p{font-size:200%; padding: 2rem 0;}
}

//cards
.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card{
    
    border: 1px solid rgb(216, 209, 209);
    border-radius:  10px;
    margin:0;
    text-align: center;
    section {
        background-color: #444;
        color: #eee;
        border-top-left-radius: 5px;
        border-top-right-radius:5px;
    }//end of card
    img {
        width: 100%;
        height: auto;
        padding: 0;
    }//end of image
    a {
        display: block;
        background-color: crimson;
        color: white;
        padding: .4rem 0;
        margin: 1rem 4vw;
        border-radius: 5px;
    }
    a:hover{background-color: lighten(crimson, 10%);}
}//end of section

.allButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0 5rem 8rem;
    
}
button {
       
        background-color: rgb(80, 74, 74);
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;    
}

.card-blogs {
    display: flex;
    flex-wrap: wrap;
}
.blog{
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    flex-basis:100%;
    border: 1px solid rgb(216, 209, 209);
    margin: .5rem .5rem;
    text-align: center;
    section {
        background-color: rgb(126, 125, 125);
        color: #eee;
        padding: .5rem;
        font-size: larger;
    }//end of card

    img {
        width: 300px;
        height: 350px;
        padding: 0;
    }//end of image
    a {
        display: block;
        background-color: navy;
        color: white;
        padding: .5rem 0;
        
    }
    a:hover{background-color: lighten(crimson, 10%);}
}//end of section



div.parent {
    display: none;
}
/*----------- FOOTER --------------*/
#footerWrapper {background-color: #1b1b1b;
    grid-row-start: 3; }
footer {
    color: white;
    div.social {
       
        display:flex;
        padding: 1rem 0;
    }
    div.social a {
        flex-basis: 25%;
        text-align: center;
        color: white;
        font-size: 3rem;
        text-decoration: none;
    }
    div.social a:hover{color:orange;}
    
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}