/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/*----------- MAIN --------------*/

      h1 {
        margin: auto;
        text-align: center;
        color: blue;
      }

      body {
        font-family: "Be Vietnam Pro", sans-serif;
        font-family: "Quicksand", sans-serif;
      }
      div#forecast {
        display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 1rem;
      margin: 2rem;

      display: grid; 
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      flex-basis:100%;
      margin: .5rem .5rem;
      text-align: center;
  
      
  .theDayName{
      position:absolute;
      bottom:0;
      background-color: rgba(255,255,255,.5);
      width:100%;
      padding: .5rem 2vw;
      color: blue;
      
  }//endcaption

      div {
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: lightblue;
        box-shadow: 5px 10px 4px -1px rgba(0, 0, 0, 0.34);
        color: black;
      }
      .weatherDay img {
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
        
      }
      .weatherDay p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .weatherDay h2,
      .weatherDay h3 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
     
/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



