
    nav li {width: 25%; 
      float: right;}
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
  figure.mypic {
    width: 50%;
    margin: 0 0 0 $gutter;
  }
  figure.mypic img {
    width: 50%;
  }
  figure.mypic figcaption {
    text-align: center;
    font-size: 0.75rem;
  }
    
div.parent figure {
  flex-basis: 29%;

}
    
