/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body rules */
body {
  font-family: $fontFamily;
  font-size: 16px;
}

header {
  padding: 1rem $gutter;
  h1, figure.logo {
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: $heavyWeight;
    
    
  } // end of h1
  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $regularWeight;
    margin-left: 7.7rem;
  } //end of h2
  figure.logo {
   
    width: 100px;
    margin: 0 0 0 $gutter;
  }
  figure.logo img {
   
    width: 100px;
  }
} //end of header


nav {
  background-color: $menuColor;
  
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    
  }
  li.active {
    background-color: rgb(252, 165, 4);
  }
  a {
    display: block;
    padding: 2rem 0; /*44px min*/
    padding-right: .8rem;
    color: darken($secondaryColor, 90%);
    text-align: right;
    text-decoration: none;
    font-size: large;
    
    
   
  } //end of a
  a:hover {
    background-color:lighten($menuColor, 20%);
    text-decoration: underline;
  }
} //end nav


main {
    background-color: white;
  display: block;
  padding: 1rem $gutter;
  h1 {
    color: $secondaryColor;
    font-weight: $heavyWeight;
    margin:2%; padding-top: 5rem;
  }
  figcaption {
    text-align: center;
    font-size: 0.8rem;
  }
  figure.mypic figcaption {
    text-align: center;
    font-size: 0.75rem;
  }
} //end main

div.parent{
  display: flex;
  flex-wrap: wrap;
}
div.parent figure{
  flex-basis: 46%;
  margin: 1rem 2%;
 
}
div.parent figure img{
  width:100%;
  height:auto;
  
}//end gallery
footer {
 background-color: $primaryColor;
  text-align: center;
  padding: 1rem $gutter;
}

