/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body rules */
body {
  font-family: $fontFamily;
  font-size: 16px;
}

header {
  padding: 1rem $gutter;
  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: $heavyWeight;
  } // end of h1
  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $regularWeight;
  } //end of h2
  figure.logo {
    width: 100px;
    margin: 0 0 0 $gutter;
  }
  figure.logo img {
    width: 100px;
  }
} //end of header


nav {
  background-color: black;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  li.active {
    background-color: rgb(252, 165, 4);
  }
  a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: rgb(27, 21, 21);
    text-align: right;
    text-decoration: none;
    margin-left: .8rem;
    background-color: black;
  } //end of a
  a:hover {
    background-color: rgb(243, 169, 8);
    text-decoration: underline;
  }
} //end nav


main {
    background-color: white;
  display: block;
  padding: 1rem $gutter;
  h1 {
    color: $secondaryColor;
    font-weight: $heavyWeight;
    margin:0; padding-top: 5rem;
  }
  figcaption {
    text-align: center;
    font-size: 0.8rem;
  }
  figure.mypic figcaption {
    text-align: center;
    font-size: 0.75rem;
  }
} //end main

div.parent{
  display: flex;
  flex-wrap: wrap;
}
div.parent figure{
  flex-basis: 96%;
  margin:1rem 2%;
}
div.parent figure img{
  width:46%;
  height:auto;
  
}//end gallery

div#footerWrapper { background-color: $primaryColor;}
footer {
 
  text-align: center;
  padding: 1rem $gutter;
}

