header, nav {
    max-width: 1240px;
    margin: auto;
}
main {
    max-width: 80rem;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
div.parent {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .one{
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }
}